{namespace vh=RKW\RkwWepstra\ViewHelpers}
<div>
	<div class="step-title with-button space-bottom {f:if(condition: wepstra.guidedMode, then: 'run-intro introjs-showElement introjs-relativePosition')}" data-intro="<f:translate key='tx_rkwwepstra_fluid_step4_guided.headline' extensionName='RkwWepstra' />" data-step="1">
		<h1>
			<f:translate key="tx_rkwwepstra_fluid_step4.strategical_consternation" extensionName="RkwWepstra" />
		</h1>
		<p class="button-container" data-intro="<f:translate key='tx_rkwwepstra_fluid_step4_guided.results' extensionName='RkwWepstra' />" data-step="2">
			<f:translate key="tx_rkwwepstra_fluid_step4.results" extensionName="RkwWepstra" />
			<f:link.action action="step4results" controller="Step" extensionName="RkwWepstra" arguments="{wepstraUid: wepstra.uid}"noCacheHash="true"  class="button secondary rounded ajax icon-flag" />
		</p>
	</div>
	<div class="main-table-container padding" data-intro="<f:translate key='tx_rkwwepstra_fluid_step4_guided.effects' extensionName='RkwWepstra' />" data-step="3">


		<h2 class="fields-name" data-tooltip="<f:translate key='tx_rkwwepstra_fluid_step4_tooltip.strategical_effects' extensionName='RkwWepstra' />">
			<f:translate key="tx_rkwwepstra_fluid_step4.strategical_effects" extensionName="RkwWepstra" />
		</h2>

		<!-- Rating for strategic relevance -->
		<div id="strategy-list">
			<f:render partial="Step/Step4/Strategy" arguments="{_all}"/>
		</div>

		<!-- table legend -->
		<div class="table-legend">
			<p> 0 = <f:translate key="tx_rkwwepstra_fluid_step4.no_consternation" extensionName="RkwWepstra" /> </p>
			<p> 1 = <f:translate key="tx_rkwwepstra_fluid_step4.low_consternation" extensionName="RkwWepstra" /> </p>
			<p> 2 = <f:translate key="tx_rkwwepstra_fluid_step4.middle_consternation" extensionName="RkwWepstra" /> </p>
			<p> 3 = <f:translate key="tx_rkwwepstra_fluid_step4.high_consternation" extensionName="RkwWepstra" /> </p>
		</div>

	</div>

	<div class="step-buttons">
		<p >
			<f:link.action action="step2" controller="Step" extensionName="RkwWepstra" arguments="{wepstraUid: wepstra.uid}" noCacheHash="true" class="button ajax" >
				<f:translate key="tx_rkwwepstra_fluid_step4.change_jobfamily" extensionName="RkwWepstra" />
			</f:link.action>
		</p>
	</div>

	<div class="step-buttons">
		<p>
			<f:link.action action="step3sub4" controller="Step" extensionName="RkwWepstra" arguments="{wepstraUid: wepstra.uid}" noCacheHash="true" class="button ajax" >
				<f:translate key="tx_rkwwepstra_fluid_general.back" extensionName="RkwWepstra" />
			</f:link.action>
		</p>
		<p>
			<f:link.action class="print-button icon-print" noCacheHash="true" arguments="{printPart: 'step4'}" action="printAll" target="_blank" pageType="1470640673" controller="Step" extensionName="RkwWepstra" pluginName="Rkwwepstra">
				<f:translate key="tx_rkwwepstra_fluid_header.print" extensionName="RkwWepstra" />
			</f:link.action>
		</p>
		<p data-intro="<f:translate key='tx_rkwwepstra_fluid_general_guided.button_forward' extensionName='RkwWepstra' />" data-step="4">
			<f:link.action action="step5" controller="Step" extensionName="RkwWepstra" arguments="{wepstraUid: wepstra.uid}" noCacheHash="true" class="button secondary ajax" >
				<f:translate key="tx_rkwwepstra_fluid_general.forward" extensionName="RkwWepstra" />
			</f:link.action>
		</p>
	</div>
</div>