{namespace vh=RKW\RkwWepstra\ViewHelpers}
<div>

	<div class="step-title {f:if(condition: wepstra.guidedMode, then: 'run-intro introjs-showElement introjs-relativePosition')}" data-intro="<f:translate key='tx_rkwwepstra_fluid_step2_guided.jobfamily_priority' extensionName='RkwWepstra' />" data-step="1">
		<h1>
			<f:translate key="tx_rkwwepstra_fluid_step2.jobfamily_prioritise" extensionName="RkwWepstra" />
		</h1>
	</div>

	<p class="step-subtitle">
		<f:translate key="tx_rkwwepstra_fluid_step2.jobfamily_prioritise_strategical_meaning" extensionName="RkwWepstra" />
	</p>

	<!-- Rating -->
	<div class="participants-ratings" data-intro="<f:translate key='tx_rkwwepstra_fluid_step2_guided.participant_list' extensionName='RkwWepstra' />" data-step="2">
		<div class="participant-ratings-container">

			<h2 class="fields-name" data-tooltip="<f:translate key='tx_rkwwepstra_fluid_step2_tooltip.prioritize' extensionName='RkwWepstra' />">
				<f:translate key="tx_rkwwepstra_fluid_step2.jobfamily_prioritise_of_participant" extensionName="RkwWepstra" />
			</h2>

			<!-- participant ratings -->
			<div class="participant-ratings">
				<div id="participant-ratings">
					<f:render partial="Step/Step2/Ratings/Outer" arguments="{_all}"/>
				</div>
			</div>
		</div>

		<!-- participant list -->
		<ul class="participants-list">

			<f:for each="{wepstra.participants}" as="participant" iteration="participantNumber">
				<!-- mark first entry as active -->
				<li class="participant {f:if(condition: '{participantNumber.index} == 0', then: 'active')}" id="participant{participantNumber.cycle}">
					<span><f:format.htmlentities>{participant.username}</f:format.htmlentities></span>
				</li>
			</f:for>
		</ul>
	</div>


	<div class="step-buttons">
		<p>
			<f:link.action action="step1" controller="Step" extensionName="RkwWepstra" arguments="{wepstraUid: wepstra.uid}" noCacheHash="true" class="button ajax" >
				<f:translate key="tx_rkwwepstra_fluid_general.back" extensionName="RkwWepstra" />
			</f:link.action>
		</p>

		<p>
			<f:link.action class="print-button icon-print" noCacheHash="true" arguments="{printPart: 'step2'}" action="printAll" target="_blank" pageType="1470640673" controller="Step" extensionName="RkwWepstra" pluginName="Rkwwepstra">
				<f:translate key="tx_rkwwepstra_fluid_header.print" extensionName="RkwWepstra" />
			</f:link.action>
		</p>
		<p data-intro="<f:translate key='tx_rkwwepstra_fluid_general_guided.button_forward' extensionName='RkwWepstra' />" data-step="3">
			<f:link.action action="step2sub2" controller="Step" extensionName="RkwWepstra" arguments="{wepstraUid: wepstra.uid}" noCacheHash="true" class="button secondary ajax" >
				<f:translate key="tx_rkwwepstra_fluid_general.forward" extensionName="RkwWepstra" />
			</f:link.action>
		</p>
	</div>

</div>

