<header class="page-header">
	<div class="container">

		<f:render partial="Step/Logo" arguments="{_all}" />

		<nav class="menu">
			<p class="menu-opener icon-burger">
				<f:translate key="tx_rkwwepstra_fluid_header.menu" extensionName="RkwWepstra" />
			</p>
			<ul>

				<li>
					<f:link.action class="ajax" action="projectList" controller="Step" extensionName="RkwWepstra" pluginName="Rkwwepstra">
						<f:translate key="tx_rkwwepstra_fluid_header.open" extensionName="RkwWepstra" />
					</f:link.action>
				</li>

				<li>
					<f:link.action action="printAll" target="_blank" format="print" pageType="1470640673" controller="Step" extensionName="RkwWepstra" pluginName="Rkwwepstra">
						<f:translate key="tx_rkwwepstra_fluid_header.print_all" extensionName="RkwWepstra" />
					</f:link.action>
				</li>


				<li>
					<f:if condition="{wepstra.guidedMode} == 1">
						<f:then>
							<f:link.action action="guided" controller="Step" extensionName="RkwWepstra" pluginName="Rkwwepstra" arguments="{switchMode: 0}">Normalmodus</f:link.action>
						</f:then>
						<f:else>
							<f:link.action action="guided" controller="Step" extensionName="RkwWepstra" pluginName="Rkwwepstra" arguments="{switchMode: 1}"><f:translate key="tx_rkwwepstra_fluid_header.guided_mode" extensionName="RkwWepstra" /></f:link.action>
						</f:else>
					</f:if>
				</li>

                <f:comment><!-- terms --></f:comment>
                <li class="small">
                    <f:link.external uri="{settings.legal.privacy}" target="_blank">
                        &gt; <f:translate key="tx_rkwwepstra_fluid_header.privacy" extensionName="RkwWepstra" />
                    </f:link.external>
                </li>

                <li class="small">
                    <f:link.external uri="{settings.legal.disclaimer}" target="_blank">
                        &gt; <f:translate key="tx_rkwwepstra_fluid_header.disclaimer" extensionName="RkwWepstra" />
                    </f:link.external>
                </li>

                <li class="small">
                    <f:link.external uri="{settings.legal.imprint}" target="_blank">
                        &gt; <f:translate key="tx_rkwwepstra_fluid_header.imprint" extensionName="RkwWepstra" />
                    </f:link.external>
                </li>

				<li class="small">
					<f:link.action action="logoutUser" controller="Step" extensionName="RkwWepstra" pluginName="Rkwwepstra">
						&gt; <f:translate key="tx_rkwwepstra_fluid_header.logout" extensionName="RkwWepstra" />
					</f:link.action>
				</li>

			</ul>
		</nav>
	</div>
</header>
