
	<div class="modal-content">
		<div class="validate-modal">

			<h1>
				<f:translate key="tx_rkwwepstra_fluid_finish.header" extensionName="RkwWepstra" />
			</h1>

			<p>
				<f:translate key="tx_rkwwepstra_fluid_finish.text1" extensionName="RkwWepstra" />

				<!--
				<f:link.action class="link ajax" action="printAll" target="_blank" controller="Step" extensionName="RkwWepstra" pluginName="Rkwwepstra">
					<f:translate key="tx_rkwwepstra_fluid_finish.text1_link" extensionName="RkwWepstra" /> [HIER NOCH ECHTEN LINK SETZEN]
				</f:link.action>

				-->
				<f:translate key="tx_rkwwepstra_fluid_finish.text1_link" extensionName="RkwWepstra" /> (derzeit noch nicht möglich)

				<f:translate key="tx_rkwwepstra_fluid_finish.text2" extensionName="RkwWepstra" />

				<f:link.action class="link" action="printAll" target="_blank" pageType="1470640673" controller="Step" extensionName="RkwWepstra" pluginName="Rkwwepstra">
					<f:translate key="tx_rkwwepstra_fluid_finish.text2_link" extensionName="RkwWepstra" />
				</f:link.action>
				.
			</p>

			<p class="button-container">
				<a class="close button secondary">OK</a>
			</p>
		</div>
	</div>

