<div class="account-modal" id="account-modal">
    <f:if condition="{errors}">
        <div class="typo3-messages">
            <f:for each="{errors}" as="error">
                <p class="message severity-{error.severity}">{error.message}</p>
            </f:for>
        </div>
    </f:if>

		<div class="account-login-register">
			<!-- login -->
			<div class="account-login" id="login-part">
                <h2><u>Login "WePstra"-App</u></h2>
                <h2 data-tooltip="<f:translate key='tx_rkwwepstra_fluid_login_tooltip.anonymous' extensionName='RkwWepstra' />">
                    <f:translate key="tx_rkwwepstra_fluid_login.without_login" extensionName='RkwWepstra' />
                </h2>
                <div id="anonymous-error-part">
                    <f:if condition="{errorMessage}">
                        <p class="error">{errorMessage}</p>
                    </f:if>
                </div>
                <f:form action="loginAnonymous" controller="Step" extensionName="RkwWepstra" class="ajax" >

                    <p class="button-container">
                        <f:form.button class="button secondary">
                            <f:translate key="tx_rkwwepstra_fluid_login.anonymous" extensionName='RkwWepstra' />
                        </f:form.button>
                    </p>
                </f:form>
			</div>
		</div>

</div>

