<div>
	<div class="fake-table secondary" data-intro="<f:translate key='tx_rkwwepstra_fluid_step3sub3_guided.performance' extensionName='RkwWepstra' />" data-step="2">

		<!-- performance -->
		<f:render partial="Step/Step3/TableParts/Performance" arguments="{_all}"/>

	</div>
	<!-- ===================================================================================== -->

	<div class="fake-table secondary border-top" data-intro="<f:translate key='tx_rkwwepstra_fluid_step3sub3_guided.techdev' extensionName='RkwWepstra' />" data-step="3">
		<!-- technicalDevelopment -->
		<f:render partial="Step/Step3/TableParts/TechnicalDevelopment" arguments="{_all}"/>

	</div>
</div>